.App {
  text-align: center;
  margin: 50px;
  font-family: Garamond, serif;
  padding: 50px
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(216, 191, 216);
  margin: 50px;
  text-align: center;
  font-weight: bold;
  line-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: darkslateblue;
  transition-duration: 0.4s;
}

/* .App-header:hover {
  /* color: rgb(34, 7, 242); */
  /* color: mediumpurple;
  font-size: calc(11px + 2vmin);
  font-weight: 800; */
  /* text-decoration: underline; */
/* }  */

.App-content-header {
  margin: 50px;
  text-align: left;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(4px + 2vmin);
  color: darkslateblue;
}

.App-text {
  text-align: left;
  align-items: left;
  margin: 50px;
  line-height: 20px;
  justify-content: left;
  font-size: calc(2px + 2vmin);
  color: rgb(42, 37, 72);
  text-wrap: wrap;
}

input::file-selector-button {
  background-color: darkslateblue;
  font-family: Garamond, serif;
  border: 1px solid rgb(34, 7, 242);
  border-radius: 8px;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  margin: 0px
}

.button-download {
  background-color: darkslateblue;
  font-family: Garamond, serif;
  border: 1px solid rgb(34, 7, 242);
  border-radius: 8px;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  margin: 0px
}

p {
  text-wrap: wrap;
  color: rgb(40, 35, 71);
  text-align: left;
  margin: 10px 50px 10px 50px
}

.App-link {
  color: darkorchid;
}

.button {
  background-color: darkslateblue;
  font-family: Garamond, serif;
  border: 1px solid rgb(34, 7, 242);
  border-radius: 8px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  margin: 20px
}

.increase-indent {
  margin-left: 10px;
}

.button-navigation {
  background-color: rgb(216, 191, 216);
  font-family: Garamond, serif;
  border: 1px solid rgb(48, 39, 116);
  align-items: center;
  align-self: center;
  align-content: center;
  border-radius: 8px;
  color: rgb(48, 39, 116);
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  margin: 5px
}

.button:hover {
  background-color: rgb(75, 51, 227);
  border: 1px solid rgb(34, 7, 242);
  padding: 12px 24px;
  color: white;
}

.button-navigation:hover {
  background-color: rgb(216, 191, 216);
  border: 1px solid rgb(48, 39, 116);
  padding: 8px 8px;
  color: rgb(48, 39, 116);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}
