body {
  margin: 80;
  background-color: rgb(216, 191, 216);
  font-family: Garamond, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1 {
  color: darkslateblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.6em;
}
h2 {
  color: mediumslateblue;
  font-size: 1.3em;
}
h3 {
  color: mediumpurple;
  border-left-width: 4pt;
  font-size: 1.1em;
}

p {
  color: purple;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
